* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    margin: .5em;
    text-transform: uppercase;
}

body {
    height: 100vh;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7em;
    background: linear-gradient(#BEEDF7, #fff);
}

h1 {
    text-align: center;
    font-size: 1em;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 2em;
}

.prevenext {
    top:45%;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.slider {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character1 {
    width: 15vw;
    position: fixed;
    bottom: 1em;
    left: 3em;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.background {
    width: 100vw;
    position: fixed;
    opacity: .4;
    z-index: -200;
    bottom: 0;
}

@keyframes slide-right {
    0% {
              transform: translateX(-200px);
    }
    100% {
              transform: translateX(100px);
    }
  }

  a {
    background-color: #0F927C; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  a:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }