* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #beedf7;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 44, 44);
}

body {
  height: 100vh;
  letter-spacing: 1px;
  font-family: "lores-12", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(#beedf7, #fff);
  overflow: hidden;
}

body:has(.scroll) {
  height: auto;
  overflow: visible;
}

.scroll {
  overflow-y: auto;
  height: 100vh;
}

.logo {
  opacity: 0.6;
  width: 94vw;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -100;
  margin: 2vw;
}

.scroll .logo {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 25vw;
  margin: 0;
  padding: 1vw 36vw 1vw 37.5vw;
  z-index: 3000;
  background-color: #beedf7;
  opacity: 1;
}

header {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 1em;
  margin: 0.5em;
  font-size: clamp(0.5em, 1.9vw, 1.7em);
  position: relative;
  overflow: visible;
  line-height: 1.3;
}

header::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  position: absolute;
  left: calc(6em + 7vh - 25px);
  bottom: -23px;
  animation: slide-right 1.2s linear both;
}

header.onboarding::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  position: absolute;
  left: calc(50% - 25px);
  bottom: -25px;
  animation: none;
}

.antwoord {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  text-align: center;
  width: max-content;
  padding: 1em;
  background: white;
  border: 0.4em solid black;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 60%;
  transform: translate(-50%, 0);
  font-size: clamp(0.5em, 1.9vw, 1.7em);
  gap: 0.5em;
  animation: appear1 0.3s ease-in both;
}

.antwoord > a:not(.opslaan) {
  background-color: #fff7ea;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.antwoord > a:not(.opslaan):hover {
  background-color: #dedbcb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.antwoord div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  flex-shrink: 0;
}

.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  text-align: center;
  width: max-content;
  gap: 0.3em;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
}

.calculator > h1 {
  font-size: clamp(0.5em, 4vw, 5em);
}

.calculator > p {
  padding-bottom: 0.5em;
  margin-top: -20vh;
  font-size: clamp(0.5em, 2vw, 5em);
  max-width: 30vw;
  margin-left: 35vw;
  line-height: 1.4;
}

.moreInfo {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
}

.moreInfo > a {
  font-size: clamp(0.5em, 1.4vw, 1.2em);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  transition-duration: 0.4s;
}

.moreInfo > a:hover {
  background-color: black;
  color: white;
}

.prevenext {
  top: 42%;
  width: 96vw;
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
  align-items: center;
  position: fixed;
  z-index: 2000;
}

.prevenext > a:nth-of-type(1) {
  transition-duration: 0.4s;
  background: linear-gradient(#beedf7, #fff);
  box-shadow: inset 0 0 0 3px #46f7bf;
}

.prevenext > a:hover {
  box-shadow: none;
  box-shadow: inset 0 0 0 3px #000;
}

.prevenext.onboarding {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 0;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, -0%);
}

.prevenext.onboarding > a:nth-of-type(1) {
  transition-duration: 0.4s;
  background: #46f7bf;
}

.prevenext.onboarding > a:nth-of-type(2) {
  transition-duration: 0.4s;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #46f7bf;
}

.prevenext.onboarding > a:nth-of-type(2):hover {
  box-shadow: none;
  box-shadow: inset 0 0 0 3px #000;
}

.completeness-meter {
  height: 10px;
  background-color: white;
  position: relative;
  overflow: visible;
  margin: 1.3em;
}

.completeness-meter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #039da8;
  width: var(--progress-width);
  animation: increaseProgress 0.5s ease-in both;
  transform-origin: left;
}

.progress-container {
  display: flex;
  justify-content: flex-end;
  gap: calc(11.11% - 30px);
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-36%);
  overflow: visible;
}

.circle {
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.circle:hover {
  background: #dedbcb;
}

.circle.active {
  background-color: #039da8;
  color: white;
}

.circle.done {
  position: relative;
}

.circle.done::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-size: cover;
  display: block;
  background-color: #fff;
  transition: 0.4s ease;
}
.circle.done:hover::before {
  background: #dedbcb;
}

.slider {
  display: flex;
  overflow: auto;
  flex-direction: column;
  white-space: nowrap;
  position: fixed;
  gap: 1.5em;
  bottom: 2vh;
  right: 2vw;
  background-color: #f1c2e6;
  padding: 1.5em;
  border-radius: 0.5em;
  align-items: center;
  width: fit-content;
  z-index: 3000;
}

.slider div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: fit-content;
  flex-shrink: 0;
  align-items: center;
}

.slider div label:not(.label-toggle) {
  font-size: 1em;
  padding-bottom: 0.5em;
}

input[type="number"] {
  border-radius: 0.5em;
  font-size: 1em;
  text-align: left;
  border: 2px solid black;
  padding: 0.2em 0.2em;
  font-family: "lores-12", sans-serif;
  font-weight: 700;
  text-align: center;
}

input[type="range"] {
  cursor: pointer;
}

.slider > div > input[type="range"] {
  width: 190px;
}

input[type="checkbox"] {
  height: 0px;
  width: 0px;
  visibility: hidden;
  margin-top: -5px;
}

.label-toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 10px;
  position: relative;
}

.label-toggle:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border-radius: 8px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .label-toggle {
  background: #0075ff;
}

input:checked + .label-toggle:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.label-toggle:active:after {
  width: 100px;
}

.character1 {
  width: 14vw;
  position: fixed;
  bottom: 2vh;
  left: 7em;
  cursor: pointer;
  overflow: visible;
}

.character2 {
  width: 14vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appearing {
  animation: appear1 0.5s ease-in both;
}

.sliding-right {
  animation: slide-right 1.2s linear both;
}

.slide-out {
  animation: slide-out 1s ease-in both;
}

.slide-in {
  animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.path-animation {
  animation: jello 0.9s both;
}

.rotate {
  animation: rotate 0.65s linear both;
}

.wobble {
  animation: wobble 0.8s both;
}

.explode {
  animation: explosion 1s ease-in both;
}

.poor {
  animation: shrink 0.3s both;
  transform-origin: center;
}

.background {
  width: 100vw;
  position: absolute;
  opacity: 0.8;
  z-index: -200;
  bottom: 0;
}

.scroll .background {
  min-width: 100vw;
  opacity: 1;
  position: relative;
  max-height: 40vh;
  margin-top: -100vh;
}

a,
button,
.opslaan {
  background-color: #46f7bf;
  border: none;
  color: black;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(0.5em, 1.5vw, 1.2em);
  margin: 4px 2px;
  transition-duration: 0.01s;
  cursor: pointer;
  border-radius: 0.5em;
  font-family: "lores-12", sans-serif;
  font-weight: 700;
}

a:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.portretMode {
  width: 90vw;
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
  margin: 5vh 5vw;
}

.portretMode > h1 {
  font-size: 3.5em;
}

@keyframes slide-right {
  0% {
    transform: translateX(-300px) rotate(-5deg);
  }
  10% {
    transform: translateX(-265px) rotate(5deg);
  }
  20% {
    transform: translateX(-230px) rotate(-5deg);
  }
  30% {
    transform: translateX(-195px) rotate(5deg);
  }
  40% {
    transform: translateX(-160px) rotate(-5deg);
  }
  50% {
    transform: translateX(-125px) rotate(5deg);
  }
  60% {
    transform: translateX(-90px) rotate(-5deg);
  }
  70% {
    transform: translateX(-55px) rotate(5deg);
  }
  80% {
    transform: translateX(-20px) rotate(-5deg);
  }
  90% {
    transform: translateX(15px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes explosion {
  0% {
    transform: translate(0);
    visibility: visible;
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
    filter: hue-rotate(10000000000000000000000000000000000deg) blur(0.2em);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
    filter: hue-rotate(0);
  }
}

@keyframes appear1 {
  0% {
    clip-path: polygon(0 0, -50% 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
    opacity: 1;
  }
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes jello-horizontal {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8) rotate(50deg);
  }
  100% {
    transform: scale(0.6);
  }
}

@keyframes increaseProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes appear {
  0% {
    clip-path: circle(10% at 0% 0%);
  }
  25% {
    clip-path: circle(25% at 50% 50%);
  }
  50% {
    clip-path: circle(30% at 12% 84%);
  }
  75% {
    clip-path: circle(25% at 75% 51%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(1px);
    transform-origin: top;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  header::before {
    left: calc(7.5em + 7vh - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    bottom: -18px;
  }

  header.onboarding::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    bottom: -18px;
  }

  .slider {
    display: flex;
    overflow: auto;
    flex-direction: column;
    white-space: nowrap;
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    gap: 0;
    border-radius: 0.5em;
    align-items: center;
    width: fit-content;
    padding: 0.8em;
    z-index: 3000;
  }

  .slider h1 {
    margin-bottom: 1em;
  }

  .slider div label:not(.label-toggle) {
    font-size: clamp(0.5em, 1.5vw, 1.2em);
    padding-bottom: clamp(0.6em, 1.3vw, 1.2em);
  }

  input[type="number"] {
    border-radius: 0.5em;
    font-size: 1em;
    text-align: left;
    padding: 0.2em 0.2em;
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: clamp(0.5em, 1.4vw, 1.2em);
  }

  input[type="range"] {
    cursor: pointer;
  }
}
